<% content_for :title, "Editing student_guardian" %>

<h1>Editing student_guardian</h1>

<%= render "form", student_guardian: @student_guardian %>

<br>

<div>
  <%= link_to "Show this student_guardian", @student_guardian %> |
  <%= link_to "Back to student_guardians", student_guardians_path %>
</div>
