<% content_for :title, "New student_guardian" %>

<h1>New student_guardian</h1>

<%= render "form", student_guardian: @student_guardian %>

<br>

<div>
  <%= link_to "Back to student_guardians", student_guardians_path %>
</div>
